.Jogos{
    min-height: 80vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Jogos .content{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 25px;
}

.Jogos p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 18px;
}

@media (max-width: 900px) {
    .Jogos p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 10px;
    }
    
 
  }