.Constituicao {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    overflow: 'hidden';
    margin-bottom: 2,5%;
}


.Constituicao .first-row {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: space-evenly;
}

.Constituicao .first-row .left-column {
    float: left;
    width: 35%;
}

.Constituicao .first-row .left-column h2{
    margin-bottom: 25px;
}


.Constituicao .first-row .right-column {
    float: right;
    width: 40%;
    
}

.Constituicao .first-row .right-column img {
    width: 100%;
    height: 80%;
}

.Constituicao .first-row p {
    width: 100%;
}

.Constituicao .second-row {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Constituicao .second-row img {
    width: 100%;
    height: 100%;
    margin-left: 15px;
    border-radius: 50px;
    border-bottom: 1px solid gray;
}

.Constituicao .persones {
    margin-top: 100px;
}

.Constituicao .person {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Constituicao .person-image img {
    width: 500px;
    height: 350px;
    border-radius: 15px;
}

.Constituicao .person-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 900px) {
    .Constituicao .first-row {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        text-align: center;
        justify-items: center;
        align-items: center;
    }
   
  
    .Constituicao .first-row .left-column {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 2.5%;
        padding-top: 0;
        width: 100%;

    }
    
    .Constituicao .first-row .right-column img {
        width: 90%;
    }

    .Constituicao .first-row .right-column  {
        display: flex;
        justify-content: center;
        margin-left: 0;
        width: 100%;
    }
    
    
    .Constituicao .first-row p {
        width: 80%;
        text-align: center;
    }
    
    .Constituicao .second-row {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .Constituicao .second-row img {
        width: 150px;
        height: 130px;
        margin-left: 15px;
        border-radius: 50px;
        border-bottom: 1px solid gray;
    }
    
    .Constituicao .persones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }
    
    .Constituicao .person {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        margin-bottom: 20px;
    }
    
    .Constituicao .person-image img {
        width: 100%;
        height: auto;
        border-radius: 15px;
        margin-bottom: 15px;
    }
    
    .Constituicao .person-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        margin-left: 0;
        margin-right: 0;
    }
    

}