.EditExtras {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.EditExtras .temas {
    margin-top: 25px;
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    overflow-x: auto;
}

.EditExtras .tema {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    padding-right: 20px; 
    padding-left: 20px; 
    margin-left: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    position: relative;
}

.EditExtras .tema p {
    font-weight: bold;
    width: 150px;
}

.EditExtras .selected {
    background-color: green;
}

.EditExtras .imagesGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EditExtras .remove {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 50px;
}

.EditExtras .temas img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 5px;
    right: 0px;
}

.EditExtras .top-temas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.EditExtras .top-temas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.EditExtras .descricao-atividades {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 40px;
}

@media (max-width: 900px) {
    .EditExtras {
        width: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-content: baseline;
    }
    
    .EditExtras .tema {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid black;
        border-radius: 25px;
        margin-left: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        position: relative;
        /* Ajuste a largura para telas menores se necessário */
    }

    .EditExtras .remove {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    .EditAtividades .descricao-atividades {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin: 20px auto;
        border: 1px solid black;
        border-radius: 5px;
        padding: 20px;
    }
}
